
.toolbar-title{
  text-decoration: none;
  color: white;
}

md-toolbar{
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26);
}

.fill-remaining-space{
  flex: 1 1 auto;
}


#login-nav input { margin-bottom: 15px;}
