<!--<div>-->
  <!--<md-sidenav-layout>-->
    <!--<md-sidenav align="end" mode="side" opened #sidenav>-->
      <!--<md-tab-group>-->
        <!--<md-tab>-->
          <!--<template md-tab-label>Products</template>-->
          <!--<template md-tab-content>-->
            <!--<a [routerLink]="['products']" routerlinkactive="active-link" >Categories</a>-->
            <!--<hr>-->
            <!--<a [routerLink]="['products']" routerlinkactive="active-link" >Products</a>-->
          <!--</template>-->
        <!--</md-tab>-->
        <!--<md-tab>-->
          <!--<template md-tab-label>Users</template>-->
          <!--<template md-tab-content>-->
            <!--<a [routerLink]="['users']" routerlinkactive="active-link" >User list</a>-->
            <!--<hr>-->
            <!--<button md-raised-button (click)="sidenav.close()" color="ancent">CLOSE</button>-->
          <!--</template>-->
        <!--</md-tab>-->

      <!--</md-tab-group>-->
    <!--</md-sidenav>-->
  <!--</md-sidenav-layout>-->
<!--</div>-->
<!--<div>-->
  <!--<md-sidenav-layout>-->
    <!--<md-sidenav #start (open)="closeStartButton.focus()">-->
      <!--Start Sidenav.-->
      <!--<br>-->
      <!--<button md-button #closeStartButton (click)="start.close()">Close</button>-->
    <!--</md-sidenav>-->
    <!--<md-sidenav #end align="end">-->
      <!--End Sidenav.-->
      <!--<button md-button (click)="end.close()">Close</button>-->
    <!--</md-sidenav>-->

    <!--My regular content. This will be moved into the proper DOM at runtime.-->
    <!--<button md-button (click)="start.open()">Open start sidenav</button>-->
    <!--<button md-button (click)="end.open()">Open end sidenav</button>-->

  <!--</md-sidenav-layout>-->
<!--</div>-->
<!--<div class="panel-group" id="accordion">-->
<!--<div class="panel panel-default">-->
<!--<div class="panel-heading">-->
<!--<h4 class="panel-title">-->
<!--<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><span-->
<!--class="glyphicon glyphicon-folder-close">-->
<!--</span>Product Management</a>-->
<!--</h4>-->
<!--</div>-->
<!--<div id="collapseOne" class="panel-collapse collapse in">-->
<!--<div class="panel-body">-->
<!--<table class="table">-->
<!--<tr>-->
<!--<td>-->
<!--<span class="glyphicon glyphicon-pencil text-primary"></span><a href="#">Categories</a>-->
<!--</td>-->
<!--</tr>-->
<!--<tr>-->
<!--<td>-->
<!--<span class="glyphicon glyphicon-flash text-success"></span>-->
<!--<a [routerLink]="['products']" routerlinkactive="active-link"      >Products</a>-->
<!--</td>-->
<!--</tr>-->
<!--<tr>-->
<!--<td>-->
<!--<span class="glyphicon glyphicon-file text-info"></span><a-->
<!--href="http://www.jquery2dotnet.com">Newsletters</a>-->
<!--</td>-->
<!--</tr>-->
<!--<tr>-->
<!--<td>-->
<!--<span class="glyphicon glyphicon-comment text-success"></span><a href="http://www.jquery2dotnet.com">Comments</a>-->
<!--<span class="badge">42</span>-->
<!--</td>-->
<!--</tr>-->
<!--</table>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="panel panel-default">-->
<!--<div class="panel-heading">-->
<!--<h4 class="panel-title">-->
<!--<a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><span class="glyphicon glyphicon-th">-->
<!--</span>Order Management</a>-->
<!--</h4>-->
<!--</div>-->
<!--<div id="collapseTwo" class="panel-collapse collapse">-->
<!--<div class="panel-body">-->
<!--<table class="table">-->
<!--<tr>-->
<!--<td>-->
<!--<a href="http://www.jquery2dotnet.com">Orders</a> <span class="label label-success">$ 320</span>-->
<!--</td>-->
<!--</tr>-->
<!--<tr>-->
<!--<td>-->
<!--<a href="http://www.jquery2dotnet.com">Invoices</a>-->
<!--</td>-->
<!--</tr>-->
<!--<tr>-->
<!--<td>-->
<!--<a href="http://www.jquery2dotnet.com">Shipments</a>-->
<!--</td>-->
<!--</tr>-->
<!--<tr>-->
<!--<td>-->
<!--<a href="http://www.jquery2dotnet.com">Tex</a>-->
<!--</td>-->
<!--</tr>-->
<!--</table>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="panel panel-default">-->
<!--<div class="panel-heading">-->
<!--<h4 class="panel-title">-->
<!--<a data-toggle="collapse" data-parent="#accordion" href="#collapseThree"><span class="glyphicon glyphicon-userprofile">-->
<!--</span>Account Management</a>-->
<!--</h4>-->
<!--</div>-->
<!--<div id="collapseThree" class="panel-collapse collapse">-->
<!--<div class="panel-body">-->
<!--<table class="table">-->
<!--<tr>-->
<!--<td>-->
<!--<a href="http://www.jquery2dotnet.com">Change Password</a>-->
<!--</td>-->
<!--</tr>-->
<!--<tr>-->
<!--<td>-->
<!--<a href="http://www.jquery2dotnet.com">Notifications</a> <span class="label label-info">5</span>-->
<!--</td>-->
<!--</tr>-->
<!--<tr>-->
<!--<td>-->
<!--<a href="http://www.jquery2dotnet.com">Import/Export</a>-->
<!--</td>-->
<!--</tr>-->
<!--<tr>-->
<!--<td>-->
<!--<span class="glyphicon glyphicon-trash text-danger"></span><a href="http://www.jquery2dotnet.com"-->
<!--class="text-danger">-->
<!--Delete Account</a>-->
<!--</td>-->
<!--</tr>-->
<!--</table>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="panel panel-default">-->
<!--<div class="panel-heading">-->
<!--<h4 class="panel-title">-->
<!--<a data-toggle="collapse" data-parent="#accordion" href="#collapseFour"><span class="glyphicon glyphicon-file">-->
<!--</span>Reports</a>-->
<!--</h4>-->
<!--</div>-->
<!--<div id="collapseFour" class="panel-collapse collapse">-->
<!--<div class="panel-body">-->
<!--<table class="table">-->
<!--<tr>-->
<!--<td>-->
<!--<span class="glyphicon glyphicon-usd"></span><a href="http://www.jquery2dotnet.com">Sales</a>-->
<!--</td>-->
<!--</tr>-->
<!--<tr>-->
<!--<td>-->
<!--<span class="glyphicon glyphicon-userprofile"></span><a href="http://www.jquery2dotnet.com">Customers</a>-->
<!--</td>-->
<!--</tr>-->
<!--<tr>-->
<!--<td>-->
<!--<span class="glyphicon glyphicon-tasks"></span><a href="http://www.jquery2dotnet.com">Products</a>-->
<!--</td>-->
<!--</tr>-->
<!--<tr>-->
<!--<td>-->
<!--<span class="glyphicon glyphicon-shopping-cart"></span><a href="http://www.jquery2dotnet.com">Shopping-->
<!--Cart</a>-->
<!--</td>-->
<!--</tr>-->
<!--</table>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
