* {
  -webkit-font-smoothing: antialiased;
}

body {
  background: rgba(0,0,0,0.05);
}

form {
  display: flex;
  justify-content: center;
}

.product-form {
  width: 350px;
}


.field-error-message {
  padding-right: 20px;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

label, select {
  margin-right: 8px;
}


.flex-one {
  flex-grow: 1;
  flex-basis: 25%;
}

.flex-three {
  flex-grow: 3;
  flex-basis: 75%;
}

.errors {
  color: red;
  padding-bottom: 10px;
}
