<div><a class="btn btn-primary" [routerLink]="['add']">Add New Product</a></div>
<div class="row">
  <div osDropdown class="col-md-7 col-md-offset-2">
    <div class="form-group">
      <label for="categorySelect">Select a Category....</label>
      <select class="form-control  input-lg" id="categorySelect" [(ngModel)]="selectedCategory"
              (change)="getProducts($event.target.value)">
        <option selected>Select a Category ...</option>
        <option *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>
      </select>
    </div>
  </div>
</div>
<hr>
<div *ngFor="let product of products; let i = index">
  {{product.name}}
  <hr>
</div>
<div>

  <div *ngFor="let product of products; let i = index">
    <div>
      <div>
        <img class="img-responsive img-rounded" src={{product.imageUrl}}/>
      </div>
      <div>
        <div>
          <span class="product-item">{{product.name}}</span>

          <div class="product-item">{{product.price}} €</div>
          <div [ngStyle]="{'background': product.color}" class="product-color"></div>
        </div>
        <div>
          Size : {{product.size}}
        </div>
        <div>
          {{product.description}}
        </div>
        <div> {{product.details}}

        </div>
      </div>
      <div>
        <div>Orders: 000</div>
        <div>Shipments: 000</div>
        <div>Remains: 000</div>
      </div>
      <div>
        <!--<div><a class="btn btn-primary" (click)="onEditInline(product.id)" >Edit Inline</a></div>-->
        <div><a class="btn btn-primary" [routerLink]="[product.id,'edit']">Edit</a></div>
        <div><a class="btn btn-primary" [routerLink]="[product.id,'details']">Details</a></div>
      </div>
    </div>
  </div>

</div>
{{products | json}}
